[submodule "EspruinoTools"]
	path = EspruinoTools
	url = https://github.com/eckserah/EspruinoTools.git
	branch = Pipboy-1.29

[submodule "EspruinoWebIDE"]
	path = EspruinoWebIDE
	url = https://github.com/AidansLab/EspruinoWebIDE
	branch = master
